@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
p, h2 {
  margin: 1em;
}

.download button:last-of-type, .download button:first-of-type {
  margin: 1em 0;
  padding: 1em 5em;
  border: none;
  border-radius: 2em;
  color: white;
  font-size: 1em;
}

#devices, #computer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
}

@media screen and (min-width: 768px) {
  p, h2 {
    margin: 2em;
  }

  .download button:last-of-type, .download button:first-of-type {
    padding: 1.2em 5em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  p, h2 {
    margin: 1em 10em;
  }
}
p, h2 {
  margin: 1em;
}

.download button:last-of-type, .download button:first-of-type {
  margin: 1em 0;
  padding: 1em 5em;
  border: none;
  border-radius: 2em;
  color: white;
  font-size: 1em;
}

#devices, #computer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
}

@media screen and (min-width: 768px) {
  p, h2 {
    margin: 2em;
  }

  .download button:last-of-type, .download button:first-of-type {
    padding: 1.2em 5em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  p, h2 {
    margin: 1em 10em;
  }
}
.download {
  display: block;
}

.function {
  margin-bottom: 8em;
}
.function .function-explain div {
  margin: 3em 1.5em;
}

.tools {
  margin: 5em 0;
}
.tools div {
  margin: 3em 1em;
}

.logo {
  margin-bottom: 5em;
  display: inline-flex;
  flex-direction: column;
}
.logo img {
  margin: 2em;
}

footer {
  background-color: #f4f4f4;
  margin-top: 5em;
  padding-bottom: 5em;
}
footer p {
  color: black;
}

.icon img {
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 40%;
  }
  .logo img {
    margin: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .function {
    display: flex;
  }
  .function .function-explain {
    margin-left: -5em;
    margin-top: 2em;
    text-align: left;
  }
  .function .function-explain h3 {
    margin-left: 2em;
  }
  .function .function-explain p {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .tools {
    display: flex;
  }
  .tools div {
    flex-grow: 1;
    flex-basis: 0;
  }
  .tools p {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .logo {
    flex-direction: row;
    width: 100%;
  }
  .logo img {
    width: 100%;
    margin: 1.5em;
  }

  footer {
    display: flex;
    padding-bottom: 0;
    justify-content: center;
  }
  footer .links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    text-align: left;
  }
  footer .links p {
    margin: 1em;
    margin-right: 0;
    width: 6em;
    flex-basis: 28%;
  }
  footer .links p:nth-of-type(4) {
    margin-top: -1em;
  }
  footer .links p:nth-of-type(5) {
    margin-top: -1em;
  }
  footer .links p:hover {
    color: #26baa4;
    cursor: pointer;
  }
  footer .icon {
    margin-top: 7em;
    margin-left: 5em;
  }
  footer .icon img:first-of-type:hover {
    content: url("../images/icon-facebook-hover.svg");
    cursor: pointer;
  }
  footer .icon img:nth-of-type(2):hover {
    content: url("../images/icon-twitter-hover.svg");
    cursor: pointer;
  }
  footer .icon img:nth-of-type(3):hover {
    content: url("../images/icon-instagram-hover.svg");
    cursor: pointer;
  }
}
p, h2 {
  margin: 1em;
}

.download button:last-of-type, .download button:first-of-type {
  margin: 1em 0;
  padding: 1em 5em;
  border: none;
  border-radius: 2em;
  color: white;
  font-size: 1em;
}

#devices, #computer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
}

@media screen and (min-width: 768px) {
  p, h2 {
    margin: 2em;
  }

  .download button:last-of-type, .download button:first-of-type {
    padding: 1.2em 5em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  p, h2 {
    margin: 1em 10em;
  }
}
.download {
  display: inline-flex;
  flex-direction: column;
}
.download button:first-of-type {
  background-color: #26baa4;
  box-shadow: 0px 2px 2px 1px #22a591;
  margin-top: 3em;
}
.download button:last-of-type {
  background-color: #6173ff;
  box-shadow: 0px 2px 2px 1px #475dff;
  margin-bottom: 5em;
}
.download button:first-of-type:hover {
  background-color: #2ee0c5;
  box-shadow: 0px 2px 10px 1px #21e4c6;
  cursor: pointer;
}
.download button:last-of-type:hover {
  background-color: #8e9bfa;
  box-shadow: 0px 2px 10px 1px #8a97ff;
  cursor: pointer;
}

.img-logo {
  margin-top: 5em;
  margin-bottom: 2em;
}

.img-logo:last-of-type {
  width: 15%;
}

#devices {
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .download {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .img-logo {
    margin-bottom: 0em;
    width: 10%;
  }

  .img-logo:last-of-type {
    width: 6%;
    margin: 5em;
  }

  .download {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5em;
  }
  .download button:first-of-type {
    margin: 2em;
  }
  .download button:last-of-type {
    margin: 2em;
  }

  #computer {
    position: relative;
    left: -5em;
  }
}
body {
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  margin: 0;
}

h2 {
  color: #4c545d;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: -0.5em;
}

p {
  color: #9fabb2;
  font-size: 1em;
  line-height: 1.8em;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  p {
    margin: 1em 14em;
  }
}

/*# sourceMappingURL=style.css.map */
