// everything that is reusable – buttons, navbars, cards, and so on

@import "./base";

// button
.download {
  display: inline-flex;
  flex-direction: column;
  button:first-of-type {
    @extend %btn;
    background-color: $primary-color-1;
    box-shadow: 0px 2px 2px 1px darken($color: $primary-color-1, $amount: 5%);
    margin-top: 3em;
  }

  button:last-of-type {
    @extend %btn;
    background-color: $primary-color-2;
    box-shadow: 0px 2px 2px 1px darken($color: $primary-color-2, $amount: 5%);
    margin-bottom: 5em;
  }
}

// logo
.img-logo {
  margin-top: 5em;
  margin-bottom: 2em;
}

.img-logo:last-of-type {
  width: 15%;
}

// computer image
#computer {
  @extend %big-img;
}

// devices image
#devices {
  @extend %big-img;
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .download {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  // logo
  .img-logo {
    margin-bottom: 0em;
    width: 10%;
  }

  .img-logo:last-of-type {
    width: 5%;
  }

  .download {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5em;
    button:first-of-type {
      margin: 2em;
    }

    button:last-of-type {
      margin: 2em;
    }
  }

  // computer image
  #computer {
    position: relative;
    left: -5em;
  }
}
