//  all the Sass code handling the layout, which is the container and grid systems
@import "./base";

.download {
  display: block;
}

.function {
  margin-bottom: 8em;

  .function-explain {
    div {
      margin: 3em 1.5em;
    }
  }
}

.tools {
  margin: 5em 0;

  div {
    margin: 3em 1em;
  }
}

.logo {
  margin-bottom: 5em;
  display: inline-flex;
  flex-direction: column;

  img {
    margin: 2em;
  }
}

footer {
  background-color: #f4f4f4;
  margin-top: 5em;
  padding-bottom: 5em;

  p {
    color: black;
  }
}

.icon {
  img {
    margin: 1em;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 40%;

    img {
      margin: 2.5em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .function {
    display: flex;

    .function-explain {
      margin-left: -5em;
      margin-top: 2em;
      text-align: left;

      h3 {
        margin-left: 2em;
      }

      p {
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
      }
    }
  }

  .tools {
    display: flex;

    div {
      flex-grow: 1;
      flex-basis: 0;
    }

    p {
      margin-top: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .logo {
    flex-direction: row;
    width: auto;
  }

  footer {
    display: flex;

    .links {
      display: flex;
    }
  }
}
